<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>{{title}}</title>
	<meta name="description" content="{{description}}">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!--  Preloading Styles -->
	<style>
		{{loadingStyles}}
	</style>

	<!--  Main Styles -->
	{{#each styleSheets}}
		<link href="css/{{this}}.css" media="all" rel="stylesheet" type="text/css">
	{{/each}}
	
	<!--  Modernizr -->
	<script src="js/modernizr.js"></script>
</head>
