<nav class="primary-nav">
	<ul class="menu">
		<li class="menu-item item-1">Menu Item 1</li>
		<li class="menu-item item-2">Menu Item 2</li>
		<li class="menu-item item-3">Menu Item 3</li>
		<li class="menu-item item-4">Menu Item 4</li>
	</ul>
</nav>