/* SRC PATH VARIABLES */
libs = {
    src: '../../../src/'
}

/* COLOR VARIABLES */

$color-primary-0 = #CCCCCC
$color-primary-1 = #FFFFFF
$color-primary-2 = #FCFCFC
$color-primary-3 = #A1A1A1
$color-primary-4 = #737272