
{{> htmlHeader}}

	{{> contentHeader}}

	<main>
		<article>
			<section>
				<h2>Heeeello Woooorld!!!!</h2>
				<p>Welcome to your new one page site</p>
			</section>
		</article>
	</main>
	
	{{> contentFooter}}
	
{{> htmlFooter}}