<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
{{#parseJSON '{"styleSheets": [["main"],["style-guide"]] }'}}
	{{> htmlHeader}}
{{/parseJSON}}

<body>
	{{> contentHeader}}

		<main>
			<article>
				<section>

						<header class="style-head">
							<h1>Style Guide</h1>
							<nav class="tabs">
								<a href="#color-scheme" class="tab tab-1">Color Scheme</a>
								<a href="#base-styles" class="tab tab-2">Base Page Styles</a>
							</nav>
						</header>



						<section id="color-scheme" class="style-tile">

							<h2>Color Scheme</h2>

							<table class="color-table">
								<tbody>
									<tr>
										<th>Primary color:</th>
										<td class="sample sample-1 primary-1">
											<div class="white">#FFFFFF</div>
											<div class="black">#FFFFFF</div>
										</td>
										<td class="sample sample-2 primary-2">
											<div class="white">#FCFCFC</div>
											<div class="black">#FCFCFC</div>
										</td>
										<td class="sample sample-0 primary-0">
											<div class="white">#CCCCCC</div>
											<div class="black">#CCCCCC</div>
										</td>
										<td class="sample sample-3 primary-3">
											<div class="white">#A1A1A1</div>
											<div class="black">#A1A1A1</div>
										</td>
										<td class="sample sample-4 primary-4">
											<div class="white">#737272</div>
											<div class="black">#737272</div>
										</td>
									</tr>
								</tbody>
							</table>
						</section>

						<section id="base-styles" class="style-tile">
							<h1>Header 1</h1>
							<h2>Header 2</h2>
							<h3>Header 3</h3>
							<h4>Header 4</h4>
							<h5>Header 5</h5>
							<h6>Header 6</h6>
						</section>


				</section>
			</article>
		</main>
	
	{{> contentFooter}}
	
	{{> htmlFooter}}

</body>

</html>